.mask-group-icon19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 657px;
  object-fit: cover;
}
.frame-child41 {
  position: absolute;
  top: 765px;
  left: 789px;
  background-color: var(--color-midnightblue-100);
  width: 548px;
  height: 341px;
}
.frame-child42,
.we1 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child42 {
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 657px;
  mix-blend-mode: multiply;
}
.we1 {
  font-weight: 900;
  display: inline-block;
  width: 374px;
  height: 251px;
}
.innovate-associate-inspire-container1 {
  position: absolute;
  top: 40px;
  left: 375px;
  font-size: var(--font-size-41xl);
  font-weight: 800;
  color: var(--color-white);
  display: inline-block;
  width: 331px;
  height: 217px;
}
.group-wrapper11,
.we-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 706px;
  height: 257px;
}
.group-wrapper11 {
  top: 221px;
  left: 355px;
  font-size: var(--font-size-235xl);
  color: var(--color-gray-300);
}
.we-provide-it {
  position: absolute;
  top: 65px;
  left: 0;
  line-height: 40px;
  display: inline-block;
  width: 551px;
  height: 155px;
}
.who-we-are {
  margin: 0;
}
.who-we-are-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-31xl);
  line-height: 31px;
  color: var(--color-black);
  display: inline-block;
  width: 314px;
  height: 37px;
}
.group-child49 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 138px;
  height: 40px;
}
.how-we-work {
  position: absolute;
  top: 10px;
  left: 7.67px;
  font-weight: 500;
  display: inline-block;
  width: 122.67px;
  height: 17px;
}
.vector-parent {
  position: absolute;
  top: 208px;
  left: 0;
  width: 138px;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.we-provide-it-guidance-on-the-parent {
  position: absolute;
  top: 829px;
  left: 110px;
  width: 551px;
  height: 248px;
  color: #010000;
}
.group-child50,
.mask-group-icon20 {
  position: absolute;
  left: 2px;
  width: 1440px;
}
.mask-group-icon20 {
  top: 0;
  height: 538px;
  object-fit: cover;
}
.group-child50 {
  top: 538px;
  background-color: var(--synez-dark-blue);
  height: 381px;
}
.line-icon6 {
  position: absolute;
  top: 848px;
  left: 92px;
  width: 1260px;
  height: 2px;
  opacity: 0.15;
}
.copyright-20236 {
  position: absolute;
  top: 860px;
  left: 112px;
  font-size: var(--font-size-xs);
  line-height: 38px;
  display: inline-block;
  width: 327px;
  height: 34px;
}
.explore6,
.home-about-us-container6 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 104px;
  height: 30px;
}
.home-about-us-container6 {
  top: 46px;
  font-size: var(--font-size-sm);
  line-height: 38px;
  width: 175px;
  height: 193px;
}
.explore-parent4,
.keep-in-touch6 {
  position: absolute;
  top: 587px;
  left: 453px;
  width: 175px;
  height: 239px;
  font-size: var(--font-size-xl);
}
.keep-in-touch6 {
  top: 0;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 164px;
  height: 30px;
}
.address6,
.email7,
.mobile6,
.phone7 {
  position: absolute;
  top: 46px;
  left: 0;
  line-height: 38px;
  font-weight: 500;
  display: inline-block;
  width: 63px;
  height: 49px;
}
.email7,
.mobile6,
.phone7 {
  top: 111px;
}
.email7,
.mobile6 {
  top: 153px;
}
.email7 {
  top: 202px;
}
.c5630-sector-627,
.div30,
.div31,
.infosyneztechcom7 {
  position: absolute;
  top: 120px;
  left: 63px;
  line-height: 20px;
  display: inline-block;
  width: 225px;
  height: 40px;
}
.c5630-sector-627,
.div31,
.infosyneztechcom7 {
  top: 55px;
}
.div31,
.infosyneztechcom7 {
  top: 162px;
}
.infosyneztechcom7 {
  top: 211px;
  text-decoration: underline;
  color: inherit;
}
.keep-in-touch-parent4 {
  position: absolute;
  top: 587px;
  left: 763px;
  width: 288px;
  height: 251px;
}
.bg12 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 55px;
  height: 55px;
}
.bg12,
.div32,
.div34 {
  position: absolute;
}
.div32 {
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
}
.div34 {
  top: 15px;
  left: 20px;
  letter-spacing: 0.06em;
  line-height: 120%;
  text-transform: uppercase;
}
.div33,
.group-wrapper12 {
  position: absolute;
  top: 0;
  left: 65px;
  width: 55px;
  height: 55px;
}
.group-wrapper12 {
  left: 0;
  width: 120px;
}
.group-child51,
.group-parent16 {
  position: absolute;
  top: 19.6px;
  left: 16.6px;
  width: 22.78px;
  height: 16.72px;
}
.group-parent16 {
  top: 587px;
  left: 1153px;
  width: 120px;
  height: 55px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.we-offer-businesses6 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 206px;
  height: 193px;
}
.we-offer-businesses-the-techno-wrapper4 {
  position: absolute;
  top: 46px;
  left: 0;
  width: 206px;
  height: 193px;
}
.synez11 {
  position: absolute;
  top: 1px;
  left: 35.9px;
  line-height: 31px;
  text-transform: uppercase;
  font-weight: 900;
}
.group-child52,
.synez-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
}
.synez-parent9 {
  width: 139.9px;
  height: 32px;
  font-size: var(--font-size-19xl);
}
.group-child53,
.group-parent17 {
  position: absolute;
  top: 587px;
  left: 112px;
  width: 206px;
  height: 239px;
}
.group-child53 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 538px;
  mix-blend-mode: multiply;
}
.increasing-the-level {
  position: absolute;
  top: 188px;
  left: 112px;
  font-size: var(--font-size-21xl);
  line-height: 42px;
  display: inline-block;
  width: 381px;
  height: 163px;
}
.mask-group-parent1 {
  position: absolute;
  top: 2959px;
  left: -2px;
  width: 1442px;
  height: 919px;
  font-size: var(--font-size-sm);
}
.group-child54 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkorange-100);
  width: 390.46px;
  height: 390.46px;
}
.consultation,
.empowering-clients-with {
  position: absolute;
  top: 47.83px;
  left: 0;
  line-height: 40px;
  display: inline-block;
  width: 314px;
  height: 230.37px;
}
.consultation {
  top: 0;
  font-size: var(--font-size-11xl);
  line-height: 31px;
  width: 224.34px;
  height: 42.95px;
}
.empowering-clients-with-innova-parent,
.group-wrapper14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 278.2px;
}
.group-wrapper14 {
  top: 35.64px;
  left: 38px;
}
.group-child55,
.rectangle-parent12 {
  position: absolute;
  top: 1384px;
  left: 110px;
  width: 390.46px;
  height: 390.46px;
}
.group-child55 {
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-100);
  height: 344.58px;
}
.efficiently-manage-your-container,
.managed-services13 {
  position: absolute;
  top: 47.83px;
  left: 0;
  line-height: 40px;
  display: inline-block;
  width: 314px;
  height: 194.25px;
}
.managed-services13 {
  top: 0;
  font-size: var(--font-size-11xl);
  line-height: 31px;
  width: 292.31px;
  height: 42.95px;
}
.efficiently-manage-your-it-nee-parent {
  position: absolute;
  top: 32.25px;
  left: 38px;
  width: 314px;
  height: 242.09px;
}
.group-child56,
.rectangle-parent13 {
  position: absolute;
  top: 1608px;
  left: 948px;
  width: 390.46px;
  height: 344.58px;
}
.group-child56 {
  top: 0;
  left: 0;
  height: 406.08px;
}
.software-development13,
.tailored-solutions-aligned {
  position: absolute;
  top: 47.74px;
  left: 0;
  line-height: 40px;
  display: inline-block;
  width: 314px;
  height: 241.11px;
}
.software-development13 {
  top: 0;
  left: 0.38px;
  font-size: var(--font-size-11xl);
  line-height: 31px;
  width: 315px;
  height: 43px;
}
.tailored-solutions-aligned-wit-parent,
.vector-group {
  position: absolute;
  top: 38.66px;
  left: 37px;
  width: 315.38px;
  height: 288.85px;
}
.vector-group {
  top: 1902.34px;
  left: 529px;
  width: 390.46px;
  height: 406.08px;
}
.mask-group-icon21,
.mask-group-icon22 {
  position: absolute;
  top: 1802.77px;
  left: 110px;
  width: 390.46px;
  height: 505.65px;
  object-fit: cover;
}
.mask-group-icon22 {
  top: 1981.41px;
  left: 947.54px;
  height: 327.01px;
}
.what-client-says,
.what-we-do {
  position: absolute;
  top: 1279px;
  left: 110px;
  font-size: var(--font-size-31xl);
  line-height: 31px;
  color: var(--color-black);
  display: inline-block;
  width: 314px;
  height: 37px;
}
.what-client-says {
  top: 2418px;
  width: 632px;
}
.button-child {
  position: relative;
  width: 14.8px;
  height: 14.8px;
}
.go-to-consulting {
  position: relative;
  line-height: 40px;
}
.button,
.button-2,
.button-3 {
  position: absolute;
  top: 1684px;
  left: 148px;
  border: 1px solid var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-2xs);
  gap: var(--gap-2xs);
  font-size: var(--font-size-lg);
}
.button-2,
.button-3 {
  top: 1863px;
  left: 986px;
}
.button-3 {
  top: 2218px;
  left: 566px;
}
.mask-group-icon23 {
  position: absolute;
  top: 785px;
  left: 769px;
  width: 548px;
  height: 341px;
  object-fit: cover;
}
.mask-group-icon24,
.mask-group-icon25 {
  position: absolute;
  top: 1384px;
  left: 528.77px;
  width: 390.46px;
  height: 490.03px;
  object-fit: cover;
}
.mask-group-icon25 {
  left: 947.54px;
  height: 196.21px;
}
.frame-child43 {
  position: absolute;
  top: 2523px;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 1439px;
  height: 436px;
}
.lorem-ipsum-is {
  margin: 0;
  line-height: 40px;
}
.john-smith1 {
  line-height: 31px;
}
.john-smith {
  margin: 0;
  font-size: var(--font-size-4xl);
  color: var(--color-orangered-100);
}
.lorem-ipsum-is-container {
  position: absolute;
  top: 2595px;
  left: calc(50% - 378px);
  text-align: center;
  display: inline-block;
  width: 752px;
  height: 180px;
  font-size: var(--font-size-10xl);
  color: var(--color-black);
}
.frame-child44 {
  position: absolute;
  top: 2876px;
  left: 686px;
  width: 63px;
  height: 12px;
}
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 0.49%;
  width: 4.58%;
  top: 69%;
  right: 7.29%;
  bottom: 30.51%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6 {
  right: 87.99%;
  left: 7.43%;
}
.group-child57,
.group-child58 {
  position: absolute;
  top: 0;
  height: 99px;
}
.group-child57 {
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(185, 185, 185, 0.25);
  width: 1440px;
}
.group-child58 {
  left: 1231px;
  width: 209px;
}
.home12 {
  position: absolute;
  top: 40px;
  left: 562px;
  font-weight: 500;
  color: var(--color-orangered-200);
}
.about-us12,
.software-development14 {
  position: absolute;
  top: 40px;
  left: 648px;
  font-weight: 500;
}
.software-development14 {
  left: 756px;
}
.consulting13,
.contact-us5,
.managed-services14 {
  position: absolute;
  top: 40px;
  left: 960px;
  font-weight: 500;
}
.consulting13,
.contact-us5 {
  left: 1133px;
}
.contact-us5 {
  left: 1252px;
  color: var(--color-white);
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 99px;
}
.synez12 {
  position: absolute;
  top: 1px;
  left: 36px;
  line-height: 31px;
  text-transform: uppercase;
  font-weight: 900;
}
.group-child59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.1px;
  height: 31px;
}
.group-parent18,
.synez-parent10 {
  position: absolute;
  top: 33px;
  left: 110px;
  width: 140px;
  height: 32px;
  font-size: var(--font-size-19xl);
  color: var(--synez-dark-blue);
}
.group-parent18 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 99px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.mask-group-frame {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3878px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
