.mask-group-icon {
    right: 0;
    height: 657px;
    object-fit: cover;
  }
  .frame-child,
  .group-child,
  .mask-group-icon {
    position: absolute;
    top: 0;
    width: 1440px;
  }
  .frame-child {
    right: 0;
    background-color: var(--color-gray-200);
    height: 657px;
    mix-blend-mode: multiply;
  }
  .group-child {
    left: 0;
    background-color: var(--synez-dark-blue);
    height: 381px;
  }
  .line-icon {
    position: absolute;
    top: 310px;
    left: 90px;
    width: 1260px;
    height: 2px;
    opacity: 0.15;
  }
  .copyright-2023,
  .explore {
    position: absolute;
    display: inline-block;
  }
  .copyright-2023 {
    top: 322px;
    left: calc(50% - 610px);
    font-size: var(--font-size-xs);
    line-height: 38px;
    width: 327px;
    height: 34px;
  }
  .explore {
    top: 0;
    left: calc(50% - 87.5px);
    line-height: 32px;
    width: 104px;
    height: 30px;
  }
  .home {
    margin: 0;
  }
  .home-about-us-container {
    position: absolute;
    top: 46px;
    left: calc(50% - 87.5px);
    font-size: var(--font-size-sm);
    line-height: 38px;
    display: inline-block;
    width: 175px;
    height: 193px;
  }
  .explore-parent {
    position: absolute;
    top: 49px;
    left: calc(50% - 269px);
    width: 175px;
    height: 239px;
    font-size: var(--font-size-xl);
  }
  .address,
  .email,
  .keep-in-touch,
  .mobile,
  .phone {
    position: absolute;
    left: calc(50% - 144px);
    display: inline-block;
  }
  .keep-in-touch {
    top: 0;
    font-size: var(--font-size-xl);
    line-height: 32px;
    width: 164px;
    height: 30px;
  }
  .address,
  .email,
  .mobile,
  .phone {
    top: 46px;
    line-height: 38px;
    font-weight: 500;
    width: 63px;
    height: 49px;
  }
  .email,
  .mobile,
  .phone {
    top: 111px;
  }
  .email,
  .mobile {
    top: 153px;
  }
  .email {
    top: 202px;
  }
  .c5630-sector-62,
  .div,
  .div1,
  .infosyneztechcom {
    position: absolute;
    top: 120px;
    left: calc(50% - 81px);
    line-height: 20px;
    display: inline-block;
    width: 225px;
    height: 40px;
  }
  .c5630-sector-62,
  .div1,
  .infosyneztechcom {
    top: 55px;
  }
  .div1,
  .infosyneztechcom {
    top: 162px;
  }
  .infosyneztechcom {
    top: 211px;
    text-decoration: underline;
    color: inherit;
  }
  .keep-in-touch-parent {
    position: absolute;
    top: 49px;
    left: calc(50% + 41px);
    width: 288px;
    height: 251px;
  }
  .bg {
    top: 0;
    left: 0;
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 55px;
    height: 55px;
  }
  .bg,
  .div2,
  .div4 {
    position: absolute;
  }
  .div2 {
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
  }
  .div4 {
    top: 15px;
    left: 20px;
    letter-spacing: 0.06em;
    line-height: 120%;
    text-transform: uppercase;
  }
  .div3,
  .group-wrapper {
    position: absolute;
    top: 0;
    left: 65px;
    width: 55px;
    height: 55px;
  }
  .group-wrapper {
    left: 0;
    width: 120px;
  }
  .group-item,
  .group-parent {
    position: absolute;
    top: 19.6px;
    left: 16.6px;
    width: 22.79px;
    height: 16.72px;
  }
  .group-parent {
    top: 49px;
    left: 1151px;
    width: 120px;
    height: 55px;
    text-align: center;
    font-size: var(--font-size-lg);
  }
  .we-offer-businesses,
  .we-offer-businesses-the-techno-wrapper {
    position: absolute;
    left: calc(50% - 103px);
    width: 206px;
    height: 193px;
  }
  .we-offer-businesses {
    top: 0;
    line-height: 26px;
    display: inline-block;
  }
  .we-offer-businesses-the-techno-wrapper {
    top: 46px;
  }
  .synez {
    position: absolute;
    top: 1px;
    left: 35.9px;
    line-height: 31px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .group-inner,
  .synez-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
  }
  .synez-parent {
    width: 139.9px;
    height: 32px;
    font-size: var(--font-size-19xl);
  }
  .group-div {
    position: absolute;
    top: 49px;
    left: calc(50% - 610px);
    width: 206px;
    height: 239px;
  }
  .rectangle-parent {
    position: absolute;
    top: 2052px;
    left: 0;
    width: 1440px;
    height: 381px;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
  .email1,
  .lets-talk,
  .message,
  .name,
  .phone1,
  .send {
    position: absolute;
    text-transform: capitalize;
    display: inline-block;
  }
  .lets-talk {
    top: 752px;
    left: calc(50% - 610px);
    font-size: var(--font-size-9xl);
    width: 164px;
    height: 46px;
  }
  .email1,
  .message,
  .name,
  .phone1,
  .send {
    top: 16px;
    left: calc(50% - 354.15px);
    width: 201.92px;
    height: 30px;
  }
  .email1,
  .message,
  .phone1,
  .send {
    top: 250px;
    width: 79.83px;
  }
  .email1,
  .message,
  .phone1 {
    top: 67px;
    width: 276.28px;
  }
  .email1,
  .phone1 {
    top: 16px;
    left: calc(50% - 107.61px);
    width: 201.92px;
  }
  .phone1 {
    left: calc(50% + 141.27px);
  }
  .group-child1,
  .group-child2,
  .group-child3,
  .group-child4,
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 250.45px;
    height: 49px;
  }
  .group-child1,
  .group-child2,
  .group-child3,
  .group-child4 {
    top: 234px;
    width: 84.53px;
  }
  .group-child2,
  .group-child3,
  .group-child4 {
    top: 201px;
    width: 749px;
    height: 153px;
  }
  .group-child3,
  .group-child4 {
    top: 0;
    left: 249.67px;
    width: 249.67px;
    height: 49px;
  }
  .group-child4 {
    left: 498.55px;
    width: 250.45px;
  }
  .name-parent {
    position: absolute;
    top: 752px;
    left: calc(50% - 201px);
    width: 749px;
    height: 283px;
  }
  .innovate-associate-inspire-container,
  .we {
    position: absolute;
    top: 0;
    left: calc(50% - 353px);
    font-weight: 900;
    display: inline-block;
    width: 374px;
    height: 251px;
  }
  .innovate-associate-inspire-container {
    top: 40px;
    left: calc(50% + 22px);
    font-size: var(--font-size-41xl);
    font-weight: 800;
    color: var(--color-white);
    width: 331px;
    height: 217px;
  }
  .group-frame,
  .we-parent {
    position: absolute;
    top: 0;
    left: calc(50% - 353px);
    width: 706px;
    height: 257px;
  }
  .group-frame {
    top: 221px;
    left: calc(50% - 365px);
    font-size: var(--font-size-235xl);
    color: var(--color-gray-300);
  }
  .our-location-c5630-container,
  .share-your-needs {
    position: absolute;
    text-transform: capitalize;
    display: inline-block;
  }
  .share-your-needs {
    top: 803px;
    left: calc(50% - 610px);
    line-height: 30px;
    font-weight: 500;
    width: 341px;
    height: 102px;
  }
  .our-location-c5630-container {
    top: 94px;
    left: calc(50% - 557px);
    line-height: 140%;
    width: 289px;
    height: 67px;
  }
  .p {
    margin: 0;
    font-size: var(--font-size-lg);
  }
  .call-us-91-container,
  .send-us-mail-container {
    position: absolute;
    top: 94px;
    left: calc(50% - 151px);
    line-height: 140%;
    text-transform: capitalize;
    display: inline-block;
    width: 289px;
    height: 67px;
  }
  .send-us-mail-container {
    left: calc(50% + 257px);
  }
  .group-child5,
  .group-child6,
  .group-child7 {
    position: absolute;
    top: 189px;
    left: 0;
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 341px;
    height: 189px;
  }
  .group-child6,
  .group-child7 {
    left: 409px;
    width: 340px;
  }
  .group-child7 {
    left: 817px;
    width: 341px;
  }
  .group-icon {
    position: absolute;
    top: 21px;
    left: 559.68px;
    width: 39.07px;
    height: 36px;
  }
  .group-child8,
  .group-icon1 {
    position: absolute;
    top: 24.59px;
    left: 966px;
    width: 44px;
    height: 28.99px;
  }
  .group-child8 {
    top: 20.54px;
    left: 143.5px;
    width: 54px;
    height: 37.42px;
  }
  .mask-group-icon1 {
    position: absolute;
    top: 60px;
    left: 2px;
    width: 1162px;
    height: 340.91px;
    object-fit: cover;
  }
  .find-us-on {
    position: absolute;
    top: 0;
    left: calc(50% - 582px);
    text-transform: capitalize;
    display: inline-block;
    width: 588px;
    height: 46px;
  }
  .mask-group-group {
    position: absolute;
    top: 313px;
    left: 0;
    width: 1164px;
    height: 400.91px;
    font-size: var(--font-size-9xl);
  }
  .our-location-c5630-sector-62-parent {
    position: absolute;
    top: 1109px;
    left: calc(50% - 610px);
    width: 1164px;
    height: 713.91px;
    font-size: var(--font-size-3xl);
  }
  .group-child9,
  .rectangle-icon {
    position: absolute;
    top: 0;
    height: 99px;
  }
  .group-child9 {
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(185, 185, 185, 0.25);
    width: 1440px;
  }
  .rectangle-icon {
    left: 1231px;
    width: 209px;
  }
  .about-us1,
  .home1,
  .software-development1 {
    position: absolute;
    top: 40px;
    left: 562px;
    font-weight: 500;
  }
  .about-us1,
  .software-development1 {
    left: 648px;
  }
  .software-development1 {
    left: 756px;
  }
  .consulting1,
  .contact-us,
  .managed-services1 {
    position: absolute;
    top: 40px;
    left: 960px;
    font-weight: 500;
  }
  .consulting1,
  .contact-us {
    left: 1133px;
    color: var(--color-orangered-200);
  }
  .contact-us {
    left: 1252px;
    color: var(--color-white);
  }
  .rectangle-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 99px;
  }
  .synez1 {
    position: absolute;
    top: 1px;
    left: 36px;
    line-height: 31px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .group-child10,
  .synez-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 31.1px;
    height: 31px;
  }
  .synez-group {
    top: 33px;
    left: 110px;
    width: 140px;
    height: 32px;
    font-size: var(--font-size-19xl);
    color: var(--synez-dark-blue);
  }
  .group-parent1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 99px;
    font-size: var(--font-size-base);
  }
  .mask-group-parent {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 2433px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  