.mask-group-icon2,
.mask-group-icon3 {
  position: absolute;
  top: 1991px;
  left: 110px;
  width: 1216px;
  height: 323px;
  object-fit: cover;
}
.mask-group-icon3 {
  top: 1671px;
}
.frame-item,
.mask-group-icon4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 1440px;
  height: 657px;
}
.mask-group-icon4 {
  object-fit: cover;
}
.frame-item {
  background-color: var(--color-gray-200);
  mix-blend-mode: multiply;
}
.it-consulting,
.we-enhance-performance {
  position: absolute;
  top: 0;
  left: calc(50% - 232px);
  font-weight: 800;
  display: inline-block;
  width: 464px;
  height: 75px;
}
.we-enhance-performance {
  top: 75px;
  font-size: var(--font-size-3xl);
  line-height: 38px;
  font-weight: 500;
  width: 404px;
  height: 109px;
}
.it-consulting-parent {
  position: absolute;
  top: 228px;
  left: calc(50% - 610px);
  width: 464px;
  height: 184px;
  font-size: var(--font-size-29xl);
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--synez-dark-blue);
  width: 1440px;
  height: 381px;
}
.line-icon1 {
  position: absolute;
  top: 310px;
  left: 90px;
  width: 1260px;
  height: 2px;
  opacity: 0.15;
}
.copyright-20231 {
  position: absolute;
  top: 322px;
  left: calc(50% - 610px);
  font-size: var(--font-size-xs);
  line-height: 38px;
  display: inline-block;
  width: 327px;
  height: 34px;
}
.explore1,
.home-about-us-container1 {
  position: absolute;
  top: 0;
  left: calc(50% - 87.5px);
  line-height: 32px;
  display: inline-block;
  width: 104px;
  height: 30px;
}
.home-about-us-container1 {
  top: 46px;
  font-size: var(--font-size-sm);
  line-height: 38px;
  width: 175px;
  height: 193px;
}
.explore-group {
  position: absolute;
  top: 49px;
  left: calc(50% - 269px);
  width: 175px;
  height: 239px;
  font-size: var(--font-size-xl);
}
.address1,
.email2,
.keep-in-touch1,
.mobile1,
.phone2 {
  position: absolute;
  left: calc(50% - 144px);
  display: inline-block;
}
.keep-in-touch1 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 32px;
  width: 164px;
  height: 30px;
}
.address1,
.email2,
.mobile1,
.phone2 {
  top: 46px;
  line-height: 38px;
  font-weight: 500;
  width: 63px;
  height: 49px;
}
.email2,
.mobile1,
.phone2 {
  top: 111px;
}
.email2,
.mobile1 {
  top: 153px;
}
.email2 {
  top: 202px;
}
.c5630-sector-622,
.div5,
.div6,
.infosyneztechcom2 {
  position: absolute;
  top: 120px;
  left: calc(50% - 81px);
  line-height: 20px;
  display: inline-block;
  width: 225px;
  height: 40px;
}
.c5630-sector-622,
.div6,
.infosyneztechcom2 {
  top: 55px;
}
.div6,
.infosyneztechcom2 {
  top: 162px;
}
.infosyneztechcom2 {
  top: 211px;
  text-decoration: underline;
  color: inherit;
}
.keep-in-touch-group {
  position: absolute;
  top: 49px;
  left: calc(50% + 41px);
  width: 288px;
  height: 251px;
}
.bg2 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 55px;
  height: 55px;
}
.bg2,
.div7,
.div9 {
  position: absolute;
}
.div7 {
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
}
.div9 {
  top: 15px;
  left: 20px;
  letter-spacing: 0.06em;
  line-height: 120%;
  text-transform: uppercase;
}
.div8,
.group {
  position: absolute;
  top: 0;
  left: 65px;
  width: 55px;
  height: 55px;
}
.group {
  left: 0;
  width: 120px;
}
.group-child12,
.group-parent2 {
  position: absolute;
  top: 19.6px;
  left: 16.6px;
  width: 22.79px;
  height: 16.72px;
}
.group-parent2 {
  top: 49px;
  left: 1151px;
  width: 120px;
  height: 55px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.we-offer-businesses-the-techno-container,
.we-offer-businesses1 {
  position: absolute;
  left: calc(50% - 103px);
  width: 206px;
  height: 193px;
}
.we-offer-businesses1 {
  top: 0;
  line-height: 26px;
  display: inline-block;
}
.we-offer-businesses-the-techno-container {
  top: 46px;
}
.synez2 {
  position: absolute;
  top: 1px;
  left: 35.9px;
  line-height: 31px;
  text-transform: uppercase;
  font-weight: 900;
}
.group-child13,
.synez-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
}
.synez-container {
  width: 139.9px;
  height: 32px;
  font-size: var(--font-size-19xl);
}
.group-parent3 {
  position: absolute;
  top: 49px;
  left: calc(50% - 610px);
  width: 206px;
  height: 239px;
}
.rectangle-container {
  position: absolute;
  top: 2477px;
  left: 0;
  width: 1440px;
  height: 381px;
  font-size: var(--font-size-sm);
}
.consulting3 {
  position: absolute;
  top: 754px;
  left: calc(50% - 610px);
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  color: var(--color-black);
  display: inline-block;
  width: 588px;
  height: 46px;
}
.we-understand-the {
  margin-block-start: 0;
  margin-block-end: 19px;
}
.partnering-with-us {
  margin: 0;
}
.we-understand-the-container {
  position: absolute;
  top: 820px;
  left: 110px;
  line-height: 36px;
  color: var(--color-black);
  display: inline-block;
  width: 705px;
  height: 394px;
}
.frame-inner {
  position: absolute;
  top: 754px;
  left: 920px;
  background-color: var(--color-lightsalmon);
  width: 406px;
  height: 474px;
}
.mask-group-icon5,
.mask-group-icon6 {
  position: absolute;
  top: 774px;
  left: 900px;
  width: 406px;
  height: 474px;
  object-fit: cover;
}
.mask-group-icon6 {
  top: 1351px;
  left: 110px;
  width: 1216px;
  height: 323px;
}
.frame-child1,
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 1351px;
  left: 110px;
  width: 406px;
  height: 323px;
  mix-blend-mode: normal;
}
.frame-child2,
.frame-child3 {
  left: 516px;
  background-color: var(--color-deepskyblue-200);
  width: 810px;
  mix-blend-mode: multiply;
}
.frame-child3 {
  top: 1991px;
  left: 110px;
  background-color: var(--color-deepskyblue-100);
  width: 406px;
  mix-blend-mode: normal;
}
.we-analyze-your {
  position: absolute;
  top: 1446px;
  left: 156px;
  line-height: 36px;
  display: inline-block;
  width: 321px;
  height: 196px;
}
.frame-child4 {
  position: absolute;
  top: 1991px;
  left: 516px;
  background-color: var(--color-deepskyblue-200);
  width: 810px;
  height: 323px;
  mix-blend-mode: multiply;
}
.assess-and-design {
  position: absolute;
  top: 1400px;
  left: 156px;
  font-size: var(--font-size-6xl);
  text-transform: capitalize;
  display: inline-block;
  width: 297px;
  height: 46px;
}
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 1671px;
  height: 323px;
}
.frame-child5 {
  left: 920px;
  background-color: var(--color-darkorange-100);
  width: 406px;
  mix-blend-mode: normal;
}
.frame-child6 {
  left: 110px;
  background-color: rgba(255, 137, 0, 0.4);
  width: 810px;
  mix-blend-mode: multiply;
}
.leverage-program-management,
.thoroughly-validate-your {
  position: absolute;
  top: 2086px;
  left: 156px;
  line-height: 36px;
  display: inline-block;
  width: 321px;
  height: 206px;
}
.thoroughly-validate-your {
  top: 1763px;
  left: 962px;
  height: 197px;
}
.implement-and-test,
.manage-and-sustain {
  position: absolute;
  top: 2040px;
  left: 156px;
  font-size: var(--font-size-6xl);
  text-transform: capitalize;
  display: inline-block;
  width: 297px;
  height: 46px;
}
.implement-and-test {
  top: 1717px;
  left: 962px;
}
.group-child14,
.group-child15 {
  position: absolute;
  top: 0;
  height: 99px;
}
.group-child14 {
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(185, 185, 185, 0.25);
  width: 1440px;
}
.group-child15 {
  left: 1231px;
  width: 209px;
}
.about-us3,
.home3,
.software-development3 {
  position: absolute;
  top: 40px;
  left: 562px;
  font-weight: 500;
}
.about-us3,
.software-development3 {
  left: 648px;
}
.software-development3 {
  left: 756px;
}
.consulting4,
.contact-us1,
.managed-services3 {
  position: absolute;
  top: 40px;
  left: 960px;
  font-weight: 500;
}
.consulting4,
.contact-us1 {
  left: 1133px;
  color: var(--color-orangered-200);
}
.contact-us1 {
  left: 1252px;
  color: var(--color-white);
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 99px;
}
.synez3 {
  position: absolute;
  top: 1px;
  left: 36px;
  line-height: 31px;
  text-transform: uppercase;
  font-weight: 900;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.1px;
  height: 31px;
}
.group-parent4,
.synez-parent1 {
  position: absolute;
  top: 33px;
  left: 110px;
  width: 140px;
  height: 32px;
  font-size: var(--font-size-19xl);
  color: var(--synez-dark-blue);
}
.group-parent4 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 99px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.mask-group-root {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2858px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
